    <div class="container">

        <!-- OWL SLIDER -->
        <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoHeight": false, "navigation": true, "pagination": false, "transitionStyle":"fade", "progressBar":"true"}'>

            <div>
                <img class="img-responsive" src="~/Content/User/iphone1.PNG" alt="">
            </div>
            <a href="#">
                <img class="img-responsive" src="~/Content/User/iphone2.PNG" alt="">
            </a>
            <a href="#">
                <img class="img-responsive" src="~/Content/User/iphone3.PNG" alt="">
            </a>
        </div>
        <!-- /OWL SLIDER -->
        <!-- INFO BAR -->
        <div class="info-bar info-bar-clean info-bar-bordered nomargin-bottom">
            <div class="container">

                <div class="row">

                    <div class="col-sm-4">
                        <i class="glyphicon glyphicon-globe"></i>
                        <h3>FREE SHIPPING &amp; RETURN</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="glyphicon glyphicon-usd"></i>
                        <h3>MONEY BACK GUARANTEE</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>

                    <div class="col-sm-4">
                        <i class="glyphicon glyphicon-flag"></i>
                        <h3>ONLINE SUPPORT 24/7</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>

                </div>

            </div>
        </div>
        <!-- /INFO BAR -->

    </div>
